.vs/MVVMWorkshop/v17/.suo
/MVVMApp.API/bin
/MVVMApp.API/obj
/MVVMApp.LoggingService/bin
/MVVMApp.LoggingService/obj
/MVVMApp.Model.DB/bin
/MVVMApp.Model.DB/obj
/MVVMApp.Model.FileSystem/bin
/MVVMApp.Model.FileSystem/obj
/MVVMApp.Model.Service/bin
/MVVMApp.Model.Service/obj
/MVVMApp.Model/bin
/MVVMApp.Model/obj
/MVVMApp.Services/bin
/MVVMApp.Services/obj
/MVVMApp.TS/obj
/MVVMApp.View.AAA/bin
/MVVMApp.View.AAA/obj
/MVVMApp.View.BBB/bin
/MVVMApp.View.BBB/obj
/MVVMApp.View.CCC/bin
/MVVMApp.View.CCC/obj
/MVVMApp.View/bin
/MVVMApp.View/obj
/MVVMApp.ViewModel.Custom/bin
/MVVMApp.ViewModel.Custom/obj
/MVVMApp.ViewModel/bin
/MVVMApp.ViewModel/obj
/MVVMApp/bin
/MVVMApp/obj
MVVMApp.TS/MVVMApp.TS.njsproj.user
/.vs
/MVVMApp.TS/node_modules
